.cardBlock {
    display: flex;
}
.card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #e7e5e5;
    padding: 5px;
    margin-right: 5px;
    font-size: 40px;
}
.red {
    color: #880202;
}